<table class ="table">
  <tbody>
    <tr>
      
      <td><%= booking.user_id %></td>
    </tr>
    <tr>
      <td><strong>Showing:</strong></td>
      <td><%= booking.showing_id %></td>
    </tr>
    <tr>
      
      <td><%= booking.seat_id %></td>
    </tr>
  </tbody>
</table>

