<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>2D</td>
      <td>10$</td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>3D</td>
      <td>15$</td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>IMax</td>
      <td>20$</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>VIP</td>
      <td>35$</td>
    
    </tr>
  </tbody>
</table>
</div>
